<html>

<head>
    <title>Shopping</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="javascripts/app.js"></script>

</head>

<body ng-app="shop" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1>Current Products</h1>
            </div>
            <div ng-repeat="item in items | orderBy: '-name'">
                <input type="checkbox" ng-click="addItemToSelectedItems(item)">
                <img class="item-image" ng-src="{{item.imageUrl}}"> 
                {{item.name}} - ${{item.price}}
            </div>
            <br>
            <button ng-click="submitPurchase()">Submit Purchase</button>
            <br>
            <br>
            <div>
                <h1>Shopping Cart</h1>
            </div>
            <div ng-repeat="item in itemsInCart | orderBy: '-name'">
                <img class="item-image" ng-src="{{item.imageUrl}}"> 
                {{item.name}} - ${{item.price}}
            </div>
        </div>
    </div>
</body>

</html>