<html>
<head>
    <title>Candidates</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="javascripts/app.js"></script>

</head>
<body ng-app="comment" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1>Candidates</h1>
            </div>
            <form ng-submit="addCandidate()" class="candidate-form">
                <input type="text" ng-model="newCandidateName"></input>
                <button type="submit">Add Candidate</button>
            </form>
            <div ng-repeat="candidate in candidate | orderBy: '-votes'">
                <span class="glyphicon glyphicon-thumbs-up" ng-click="voteFor(name)"></span>
                {{candidate.name}} - votes: {{candidate.votes}}
            </div>
        </div>
    </div>
</body>
</html>
